
@*@---------{
  ----------   string id_zz = "123";
}*@

<p id="zz_@Model.RecipientID">Thank you for visiting my Rudimentary Partial View!  ---11/12/2019 Thomas Downes</p>

<script>

    //void WriteParagraph_@Model.RecipientID ()
    //{
        //dom_object = doc.GetObject("@Model.RecipientID");
        //dom_object.context = "This is paragraph # @Model.RecipientID .";

        my_paragraph = document.getElementById("zz_@Model.RecipientID");

        //my_paragraph.content = 'This is for recipient # @Model.RecipientID. (Script function void WriteParagraph_...)';
        //
        //  https://codingsync.com/javascript-change-html-paragraph-text/
        //
        my_paragraph.innerHTML = 'This is for recipient # @Model.RecipientID. (Script function void WriteParagraph_...)';

    //}
    //WriteParagraph_@Model.RecipientID ;

</script>

@*Moved up to the top of the partial view. ----12/2/2019 thomas d.
    <p id="zz_@Model.RecipientID">Thank you for visiting my Rudimentary Partial View!  ---11/12/2019 Thomas Downes</p>*@
