@{
    ViewBag.Title = "Contact Thomas C. Downes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Thomas C. Downes <br />
    2024 Anaheim Ave <br />
    Costa Mesa, CA  92627<br />
    <abbr title="Phone">Mobile Phone:</abbr>
    (714) 756-0810
    <abbr title="Email">Email:</abbr>
    tomdownes1@gmail.com
</address>

<address>
    <strong>Customer Service:</strong> <a href="mailto:tomdownes1@gmail.com">tomdownes1@gmail.com</a>
    <strong>Customer Support:</strong>   <a href="mailto:tomdownes1@gmail.com">tomdownes1@gmail.com</a><br />
</address>