
@{
    Layout = null;
}

<!DOCTYPE html>
''
''   https://code.msdn.microsoft.com/MVC-5-with-2FA-email-8f26d952
''
''
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
