
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Background Image</h2>

<a href="https://www.dotnettricks.com/learn/mvc/how-to-upload-a-file-in-mvc4">https://www.dotnettricks.com/learn/mvc/how-to-upload-a-file-in-mvc4</a>

<a href="https://www.dotnettricks.com/learn/mvc/how-to-upload-a-file-in-mvc4">https://www.dotnettricks.com/learn/mvc/how-to-upload-a-file-in-mvc4</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script type="text/jscript">
    //
    //   https://www.dotnettricks.com/learn/mvc/how-to-upload-a-file-in-mvc4
    //

    //get file size
    function GetFileSize(fileid) {
        try {
            var fileSize = 0;
            //for IE
            if ($.browser.msie) {
                //before making an object of ActiveXObject,
                //please make sure ActiveX is enabled in your IE browser
                var objFSO = new ActiveXObject("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
                var objFile = objFSO.getFile(filePath);
                var fileSize = objFile.size; //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
            //for FF, Safari, Opeara and Others
            else {
                fileSize = $("#" + fileid)[0].files[0].size //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }
            return fileSize;
        }
        catch (e) {
            alert("Error is :" + e);
        }
    }

    //get file path from client system
    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    $("#btnSubmit").live("click", function () {
        if ($('#fileToUpload').val() == "") {
            $("#spanfile").html("Please upload file");
            return false;
        }
        else {
            return checkfile();
        }
    });

    function checkfile() {
        var file = getNameFromPath($("#fileToUpload").val());
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            // alert(extension);
            switch (extension) {
                case 'jpg':
                case 'png':
                case 'gif':
                case 'pdf':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            $("#spanfile").text("You can upload only jpg,png,gif,pdf extension file");
            return false;
        }
        else {
            var size = GetFileSize('fileToUpload');
            if (size > 3) {
                $("#spanfile").text("You can upload file up to 3 MB");
                return false;
            }
            else {
                $("#spanfile").text("");
            }
        }
    }

    $(function () {
        $("#fileToUpload").change(function () {
            checkfile();
        });
    });

    //
    //  End of https://www.dotnettricks.com/learn/mvc/how-to-upload-a-file-in-mvc4
    //


    //
    //Start of https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
    //

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#fileToUpload").change(function () {
        readURL(this);
    });

        //
    //End of https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
    //

</script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@





<form runat="server">
    <input type='file' id="imgInp" />
    <img id="blah" src="#" alt="your image" />
</form>

@using (Html.BeginForm("FileUpload", "UploadBack", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary();
    <ol>
        <li class="lifile">
            <input type="file" id="fileToUpload" name="file" />
            <span class="field-validation-error" id="spanfile"></span>
            <img id="blah_preview" src="#" alt="your image" />
        </li>
    </ol>

    <input type="submit" id="btnSubmit" value="Upload" />

    @*<input type='file' id="imgInp" />
    <img id="blah" src="#" alt="your image" />*@
}





@*//        <body>
        //
        //    <h1>Super Upload Page</h1>
        //
        //    <p>Things to upload: </p>
        //
        //    <ol>
            //
            <li>Background Images for Badges</li>
            //
            <li>Portrait Images</li>
            //
            <li>Zipped collection of Images</li>
            //
            <li>XML files with Personality Configuration / Elements Cache</li>
            //
            <li>MDB files, especially CIBData83.mdb, for storage of data</li>
            //
            <li>Signature Image from the Topaz Signature Pad</li>
            //
            <li>Driver's License Data</li>
            //
        </ol>
        //
        //
    </body>
            // </html>*@



